html {
  scroll-behavior: smooth;
}

:root {
  /* Font Sizes & Family */

  --base-font-size: 16px;
  --heading-font-font-family: "Roboto";
  --heading-font-font-style: normal;
  --heading-font-font-weight: 300;
  /* --heading-font-font-weight: 200; */
  --heading-font-text-transform: none;
  --heading-font-letter-spacing: 0em;
  --heading-font-line-height: 1.4em;
  --body-font-font-family: "Poppins";
  --body-font-font-style: normal;
  --body-font-font-weight: 300;
  --body-font-text-transform: none;
  --body-font-letter-spacing: 0em;
  --body-font-line-height: 1.8em;
  --meta-font-font-family: "Poppins";
  --meta-font-font-style: normal;
  --meta-font-font-weight: 400;
  --meta-font-text-transform: none;
  --meta-font-letter-spacing: 0.01em;
  --meta-font-line-height: 1em;
  --heading-1-size: 4.5rem;
  --heading-1-size-value: 4.5;
  --heading-2-size: 2.8rem;
  --heading-2-size-value: 2.8;
  --heading-3-size: 2.2rem;
  --heading-3-size-value: 2.2;
  --heading-4-size: 1.6rem;
  --heading-4-size-value: 1.6;
  --large-text-size: 1.5rem;
  --large-text-size-value: 1.5;
  --normal-text-size: 1rem;
  --normal-text-size-value: 1;
  --small-text-size: 0.9rem;
  --small-text-size-value: 0.9;
  --normal-meta-size: 1rem;
  --normal-meta-size-value: 1;

  --site-navigation-font-font-family: "Amiko";
  --site-navigation-font-font-style: normal;
  --site-navigation-font-font-weight: 600;
  --site-navigation-font-text-transform: none;
  --site-navigation-font-letter-spacing: 0em;
  --site-navigation-font-line-height: 1.8em;
  --site-navigation-font-font-size: 1rem;
  --site-navigation-font-font-size-value: 1;

  /* Color Variables */
  --primary-color: #37a1ca;
  --primary-color-hover: #1074bc;
  --primary-color-dark: #202c5e;
  --text-color-dark: #000;
  --text-color: #333;
  --text-color-light: #626167;
  --border-color: #717070;
  --white-color: #fefefe;
  --section-bg: #6680b3;

  /* z-index */
  --z-overlay: 10;
  --z-fixed: 100;

  /* transition */
  --tran-0-2: 0.2s;
  --tran-0-3: 0.3s;
  --tran-0-5: 0.5s;
}

/* Pre-CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: var(--white-color);
  width: 100%;
  margin: 0 auto;
}

html,
body {
  font-size: var(--base-font-size);
}

ul {
  list-style-type: none;
  margin-left: 0;
  padding-right: 0;
}
ul li {
  color: var(--text-color-dark);
  line-height: 1.3em;
}
p,
ul,
li,
a,
span {
  font-family: var(--body-font-font-family);
  font-style: var(--body-font-font-style);
  font-weight: var(--body-font-font-weight);
  line-height: var(--body-font-line-height);
  letter-spacing: var(--body-font-letter-spacing);
  text-transform: var(--body-font-text-transform);
  -webkit-font-smoothing: antialiased;
}
b,
strong {
  font-weight: 700;
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  p,
  ul,
  li,
  a,
  span {
    font-size: calc(
      (var(--normal-text-size-value) - 1) * calc(0.012 * min(100vh, 900px)) +
        1rem
    );
  }
}

@media screen and (min-width: 768px),
  screen and (max-width: calc(1908px - 1px)) and (orientation: landscape) {
  p,
  ul,
  li,
  a,
  span {
    font-size: calc((var(--normal-text-size-value) - 1) * 1.2vw + 1rem);
  }
}

@media screen and (min-width: 1908px) {
  p,
  ul,
  li,
  a,
  span {
    font-size: calc(var(--normal-text-size-value) * 1rem);
  }
}

p {
  line-height: var(--body-font-line-height);
}

h1,
h2,
h3,
h4 {
  font-family: var(--heading-font-font-family);
  font-style: var(--heading-font-font-style);
  font-weight: var(--heading-font-font-weight);
  line-height: var(--heading-font-line-height);
  letter-spacing: var(--heading-font-letter-spacing);
  text-transform: var(--heading-font-text-transform);
}
h1 {
  line-height: calc(
    var(--heading-font-line-height) *
      (1 + (1 - var(--heading-1-size-value)) / 25)
  );
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  h1 {
    font-size: calc(
      (var(--heading-1-size-value) - 1) * calc(0.012 * min(100vh, 900px)) + 1rem
    );
  }
}

@media screen and (min-width: 768px),
  screen and (max-width: calc(1908px - 1px)) and (orientation: landscape) {
  h1 {
    font-size: calc((var(--heading-1-size-value) - 1) * 1.2vw + 1rem);
  }
}

@media screen and (min-width: 1908px) {
  h1 {
    font-size: calc(var(--heading-1-size-value) * 1rem);
  }
}

h2 {
  line-height: calc(
    var(--heading-font-line-height) *
      (1 + (1 - var(--heading-2-size-value)) / 25)
  );
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  h2 {
    font-size: calc(
      (var(--heading-2-size-value) - 1) * calc(0.012 * min(100vh, 900px)) + 1rem
    );
  }
}

@media screen and (min-width: 768px),
  screen and (max-width: calc(1908px - 1px)) and (orientation: landscape) {
  h2 {
    font-size: calc((var(--heading-2-size-value) - 1) * 1.2vw + 1rem);
  }
}

@media screen and (min-width: 1908px) {
  h2 {
    font-size: calc(var(--heading-2-size-value) * 1rem);
  }
}

h3 {
  line-height: calc(
    var(--heading-font-line-height) *
      (1 + (1 - var(--heading-3-size-value)) / 25)
  );
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  h3 {
    font-size: calc(
      (var(--heading-3-size-value) - 1) * calc(0.012 * min(100vh, 900px)) + 1rem
    );
  }
}

@media screen and (min-width: 768px),
  screen and (max-width: calc(1908px - 1px)) and (orientation: landscape) {
  h3 {
    font-size: calc((var(--heading-3-size-value) - 1) * 1.2vw + 1rem);
  }
}

@media screen and (min-width: 1908px) {
  h3 {
    font-size: calc(var(--heading-3-size-value) * 1rem);
  }
}

h4 {
  line-height: calc(
    var(--heading-font-line-height) *
      (1 + (1 - var(--heading-4-size-value)) / 25)
  );
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  h4 {
    font-size: calc(
      (var(--heading-4-size-value) - 1) * calc(0.012 * min(100vh, 900px)) + 1rem
    );
  }
}

@media screen and (min-width: 768px),
  screen and (max-width: calc(1908px - 1px)) and (orientation: landscape) {
  h4 {
    font-size: calc((var(--heading-4-size-value) - 1) * 1.2vw + 1rem);
  }
}

@media screen and (min-width: 1908px) {
  h4 {
    font-size: calc(var(--heading-4-size-value) * 1rem);
  }
}

/* Custom Scrollbar */
::selection {
  background-color: var(--primary-color-dark);
  color: var(--white-color);
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: var(--primary-color-dark);
}
::-webkit-scrollbar-thumb:hover {
  border-radius: 1rem;
  background-color: var(--primary-color-hover);
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font);
  font-weight: var(--font-regular);
  color: var(--text-color);
}

input {
  outline: none;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--white-color);
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Reusuable CSS */

section {
  width: 100%;
}
.section-title {
  margin-bottom: 1rem;
}
@media screen and (max-width: 1024px) {
  .section-title {
    margin: 0rem;
  }
}
.section-title h2 {
  text-align: center;
  color: var(--primary-color-dark);
  /* font-weight: 300; */
}
.section-title p {
  text-align: center;
  padding-right: 3vw;
  padding-left: 3vw;
  color: var(--primary-color-dark);
}

.btn {
  background: var(--primary-color-hover);
  border-radius: 10px;
  box-sizing: border-box;
  color: var(--primary-color-dark);
  display: block;
  height: 50px;
  font-size: 1.4em;
  padding: 4px;
  position: relative;
  text-decoration: none;
  width: 7em;
  z-index: 2;
}

.btn:hover {
  color: #fff;
}

.btn .btnspan {
  align-items: center;
  background: var(--white-color);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background 0.5s ease;
  width: 100%;
}

.btn:hover .btnspan {
  background: transparent;
}

/* Header */
.homepage-head {
  height: 100vh;
}

.header {
  position: relative;
  top: 0;
  left: 0;
  height: 10rem;
  width: 100%;
  z-index: 9999;
  transition: 0.4s;
}
.header-active {
  position: fixed;
  height: 10rem;
  background-color: var(--white-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease;
}
.header-active a {
  color: var(--primary-color-dark);
}
.header-active .nav-active:hover:after {
  transition: 0.4s ease-in-out;
}
.header-active .nav-active:after {
  content: "";
  position: absolute;
  background-color: var(--primary-color-dark);
  height: 3px;
  width: 100%;
  left: 0;
  bottom: -3px;
  transition: 0.4s;
}
.header-active .bar {
  background-color: var(--primary-color-dark);
}
/* nav */
header,
section {
  padding-top: 2vw;
  padding-bottom: 2vw;
  padding-left: 3vw;
  padding-right: 3vw;
}

.nav-logo {
  flex-grow: 0;
  flex-shrink: 0;
  backface-visibility: hidden;
  max-width: 100%;
  max-height: 110px;
}
.nav-logo img {
  width: auto;
  max-width: 100%;
  max-height: 110px;
}

.header-nav {
  font-family: var(--site-navigation-font-font-family);
  font-style: var(--site-navigation-font-font-style);
  font-weight: var(--site-navigation-font-font-weight);
  line-height: var(--site-navigation-font-line-height);
  letter-spacing: var(--site-navigation-font-letter-spacing);
  text-transform: var(--site-navigation-font-text-transform);
  display: flex;
  align-items: center;
}
.nav-wrapper {
  text-align: right;
  margin-left: auto;
  padding-left: 2.5vw;
}
.nav-list {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
}
.nav-item:not(:first-child) {
  margin-left: 1.2vw;
}

.nav-link {
  position: relative;
  text-transform: uppercase;
  color: var(--white-color);
}
.nav-link:after {
  content: "";
  position: absolute;
  background-color: var(--primary-color-hover);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -3px;
  transition: 0.4s;
}
.nav-link:hover:after {
  width: 100%;
}

.nav-active:after {
  content: "";
  position: absolute;
  background-color: var(--white-color);
  height: 3px;
  width: 100%;
  left: 0;
  bottom: -3px;
  transition: 0.4s;
}
.nav-active:hover:after {
  background-color: var(--primary-color-hover);
  transition: 0.4s ease;
}
/* .nav-item:hover a {
  color: var(--primary-color-hover);
} */

.nav-item {
  font-family: var(--site-navigation-font-font-family);
  font-style: var(--site-navigation-font-font-style);
  font-weight: var(--site-navigation-font-font-weight);
  line-height: var(--site-navigation-font-line-height);
  letter-spacing: var(--site-navigation-font-letter-spacing);
  text-transform: var(--site-navigation-font-text-transform);
  line-height: 1;
}
.header-hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--white-color);
}

/* nav responsive */
@media screen and (max-width: 768px) {
  .nav-logo {
    max-height: 30px;
  }

  .nav-logo img {
    max-height: 30px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .header {
    height: 140px;
  }
  .nav-logo {
    max-height: 90px;
  }

  .nav-logo img {
    max-height: 90px;
  }
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  .nav-item {
    font-size: calc(
      (var(--site-navigation-font-font-size-value) - 1) *
        calc(0.012 * min(100vh, 900px)) + 1rem
    );
  }
}
@media screen and (min-width: 768px),
  screen and (max-width: calc(1908px - 1px)) and (orientation: landscape) {
  .nav-item {
    font-size: calc(
      (var(--site-navigation-font-font-size-value) - 1) * 1.2vw + 1rem
    );
  }
}
@media screen and (min-width: 1908px) {
  .nav-item {
    font-size: calc(var(--site-navigation-font-font-size-value) * 1rem);
  }
}
@media only screen and (pointer: coarse) and (max-width: 1024px),
  screen and (max-width: 768px) {
  header {
    /* padding-left: 6vw; */
    padding-top: 1.8vw;
    padding-bottom: 1.8vw;
    /* padding-right: 6vw; */
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: 100vw;
    height: 60px;
  }
  .navClose-btn,
  .navOpen-btn,
  .media-icons {
    display: block;
  }
  .nav-item {
    display: none;
  }
  .header-hamburger {
    display: block;
  }

  .header-hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .header-hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .header-hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-list.active {
    left: 0;
  }
  .nav-active:after {
    content: "";
    position: absolute;
    background-color: var(--primary-color);
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -3px;
    transition: 0.4s;
  }
  .nav-list.active .nav-item {
    display: block;
  }
  .nav-list.active .nav-link {
    color: var(--primary-color-dark);
  }
  .nav-link {
    transition: 0.7s ease;
    text-transform: uppercase;
  }
  .nav-list.active .nav-active {
    color: var(--primary-color-dark);
  }
  .nav-list.active .nav-item:hover a {
    color: var(--primary-color-hover);
  }
  .nav-list {
    position: fixed;
    top: 60px;
    right: -100%;
    width: 100vw;
    z-index: var(--z-fixed);
    padding: 1rem 0 50rem;
    background-color: var(--white-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: var(--tran-0-5);
  }

  .nav-list {
    flex-direction: column;
    row-gap: 2.5rem;
    font-size: var(--h4-font);
    color: var(--primary-color-dark);
  }
}

/*-- Footer-Starts-Here --*/

footer {
  background: url("../images/divider-2.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)) no-repeat;
  background-blend-mode: overlay;
  background-size: 100% 100%;
  background-attachment: fixed;
}

.footer-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}
.footer-list img {
  width: 20%;
}

.footer-info h4 {
  color: white;
  /* font-weight: 400; */
  margin-bottom: 1rem;
}
.footer-info ul li {
  color: white;
  line-height: 1.5em;
}
.social-icons {
  margin: 30px 0;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.social-icons i {
  color: white;
  font-size: 50px;
}
#footer-address {
  display: none;
}
.copyright {
  padding-top: 40px;

  text-align: center;
  /* border-top: 1px solid #eee; */
}
.copyright p {
  color: #fff;
}
.copyright a {
  color: #fff;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  #footer-address,
  #footer-services {
    display: none;
  }
  .social-icons i {
    color: white;
    font-size: 30px;
  }
  .footer-list img {
    display: none;
  }
}
@media screen and (max-width: 300px) {
  .footer-list h4 {
    font-size: 15px;
  }

  .footer-list ul li,
  .footer-list a {
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .social-icons i {
    color: white;
    font-size: 30px;
  }
  .footer-list {
    padding-right: 2vw;
    padding-left: 2vw;
  }
}
@media screen and (max-width: 1024px) {
  #footer-text {
    display: none;
  }
}
/*-- //Footer-Ends-Here --*/

/* Home */
.full {
  width: 100vw;
  height: 82vh;
  overflow: hidden;
  margin-top: 0;
  padding: 0;
  text-align: center;
}

.home-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  .home-video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .home-video {
    width: auto;
    height: 100%;
  }
}

.home-details {
  position: absolute;
  bottom: 0;
  z-index: var(--z-fixed);
  display: grid;
  justify-items: left;
  width: 100%;
}

.home-text {
  color: var(--white-color);
  padding-bottom: 2vw;
  padding-left: 3vw;
  padding-right: 3vw;
  text-align: left;
}

.home-details h3 {
  padding-bottom: 4vw;
}
/* home part end */

/* advantages part start */
@media screen and (min-width: 760px) and (max-width: 1024px) {
  .advantages-container {
    margin-top: 8vh;
  }
}

.advantages-content {
  width: calc(50% - 5px);
  height: auto;
  padding: 1rem;
}

.advantages-row {
  display: flex;
}

.advantages-content h4 {
  text-align: left;
  color: var(--primary-color-dark);
  /* font-weight: 300; */
  padding-bottom: 1rem;
}

.advantages-detail {
  margin-bottom: 0.5rem;
}
.advantages-content li {
  text-align: left;
  color: var(--text-color);
}

.advantages-vertical-divider {
  border-right: 2px solid #ccc;
}
.advantages-cross-divider {
  width: 100%;
  height: 2px;
  background-color: #ccc;
}
.gem-icon {
  color: var(--primary-color-hover);
}
@media screen and (max-width: 768px) {
  .advantages-row {
    flex-direction: column;
  }
  .advantages-content {
    width: 100%;
  }
  .advantages-mobile-divider {
    width: 100%;
    height: 2px;
    background-color: #ccc;
  }
  .advantages-vertical-divider {
    border-right: 0;
  }
}
/* advantages part end */
/*-- divider section --*/
.divider {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background: url("../images/divider.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)) no-repeat;
  background-blend-mode: overlay;
  background-position: center;
  background-attachment: fixed;
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -ms-background-size: 100% 100%;
}

.divider blockquote {
  letter-spacing: 2px;
  color: var(--white-color);
  border: none;
}
.divider h2 {
  color: var(--white-color);
}

.divider p {
  margin-top: 3rem;
}
.divider h4 {
  /* font-weight: 600; */
  margin-top: 1rem;
  color: var(--white-color);
  text-align: center;
}
.divider .partners {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.partners .partner-item {
  margin: 3rem;
  border: 3px solid black;
  border-radius: 5px;
  width: auto;
  height: 5rem;
}
.partner-item img {
  height: 100%;
  width: auto;
}
@media screen and (min-width: 1000px) {
  .partners .partner-item {
    margin: 2rem;
    height: 5rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
  .partners .partner-item {
    margin: 1rem;
    height: 4rem;
  }
}
@media screen and (max-width: 768px) {
  .partners .partner-item {
    margin: 0.5rem;
    height: 3rem;
  }
}
@media screen and (max-width: 550px) {
  .partners .partner-item {
    margin: 0.5rem;
    height: 2.5rem;
  }
}
@media screen and (max-width: 425px) {
  .partners {
    flex-direction: column;
  }
  .partners .partner-item {
    margin: 0.5rem;
    height: 3rem;
  }
}

/*-- /divider section --*/
/*-- focus section --*/
.focus {
  margin-top: 4vh;
}
.focus-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.focus-card {
  position: relative;
  width: 23%;
  height: 30rem;
  margin: 0 auto;
  background: #fff;
  transition: 0.5s;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.2);
  &:nth-child(1n) {
    margin-left: 0;
  }
  &:nth-child(4n) {
    margin-right: 0;
  }
}

.focus-content {
  height: auto;
  padding-top: 5rem;
  position: relative;
}
.focus-content ul {
  line-height: 1.5em;
  margin: 5px 0 15px;
  padding: 0;
}

.focus-content li {
  list-style: none;
  position: relative;
  padding: 0 0 0 20px;
  text-align: left;
}
.focus-content li.circle-checkmark::before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  border: solid 8px var(--primary-color-dark);
  border-radius: 8px;
}

.focus-content li.circle-checkmark::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 3px;
  height: 6px;
  border: solid var(--white-color);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.focus-card:hover {
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.2);
}
.focus-card .face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}
.face.face1 {
  height: auto;
}
.focus-card .face.face1 {
  display: inline-block;
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  background: #fff;
  color: var(--primary-color-hover);
}

.focus-card .face.face1 a {
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  padding: 1vh 2vh;
  min-width: 100px;
  text-decoration: none;
  color: var(--primary-color-dark);
  border: 2px solid var(--primary-color-dark);
  transition: 0.5s;
}
.focus-card .face.face1 a:hover {
  color: var(--white-color);
  background: var(--primary-color-hover);
  transition: 0.4s ease;
  border: 2px solid var(--primary-color-hover);
}
.focus-card .face.face2 {
  background: white;
  transition: 0.5s;
}
.focus-card #sea {
  background: url("../images/sea.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)) no-repeat;
  background-blend-mode: overlay;
  background-size: 100% 100%;
}
.focus-card #air {
  background: url("../images/air.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)) no-repeat;
  background-blend-mode: overlay;
  background-size: 100% 100%;
}
.focus-card #clearance {
  background: url("../images/clearance.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)) no-repeat;
  background-blend-mode: overlay;
  background-size: 100% 100%;
}
.focus-card #warehousing {
  background: url("../images/warehouse.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)) no-repeat;
  background-blend-mode: overlay;
  background-size: 100% 100%;
}
.focus-card:hover .face.face2 {
  font-size: var(--smaller-font);
  height: 5rem;
  left: 50%;

  transform: translateX(-50%);
  background: transparent;
}
.focus-card .face.face2 h4 {
  margin: 0 auto;
  padding: 0 2vw;
  text-align: center;
  color: var(--white-color);

  transition: 0.5s;
}
.focus-card:hover .face.face2 h4 {
  color: var(--white-color);
  font-size: var(--normal-font);
  /* font-weight: 600; */
}
.focus-card:hover #sea {
  background: url("../images/sea.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)) no-repeat;
  background-blend-mode: overlay;
  background-size: 100%;
}
.focus-card:hover #air {
  background: url("../images/air.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)) no-repeat;
  background-blend-mode: overlay;
  background-size: 100%;
}
.focus-card:hover #warehousing {
  background: url("../images/warehouse.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)) no-repeat;
  background-blend-mode: overlay;
  background-size: 100%;
}
.focus-card:hover #clearance {
  background: url("../images/clearance.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)) no-repeat;
  background-blend-mode: overlay;
  background-size: 100%;
}

@media screen and (min-width: 1200px) {
  .focus-card {
    height: 28rem;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .focus-card {
    height: 30rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .focus-card {
    height: 22rem;
  }
}
@media screen and (min-width: 425px) and (max-width: 768px) {
  .focus-card {
    height: 20rem;
  }
}
@media screen and (max-width: 424px) {
  .focus-card {
    height: 27rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .focus-card {
    width: 49%;
    margin: 0;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .focus-list {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .focus-card {
    width: 100%;
    margin: 0;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .focus-list {
    flex-direction: column;
  }
}
/*-- /focus section --*/

/*-- Contact-Starts-Here --*/

.contact {
  padding-bottom: 50px;
  background-color: rgba(238, 238, 238, 0.6);
}
#index-contact-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  padding-right: 3vw;
  padding-left: 3vw;
}

#index-contact-icons i {
  border-radius: 50%;
  background-color: var(--primary-color-dark);
  color: var(--white-color);
}
.contact-item {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}
.contact-item a {
  color: var(--text-color);
}
.contact-item h4 {
  color: var(--primary-color-dark);
  padding-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  #index-contact-icons {
    flex-direction: column;
  }
}

.contact_form input[type="text"] {
  width: 100%;
  border-radius: 0;
  line-height: 22px;
  font-size: 13px;
  padding: 14px 17px 14px;
  outline: none;
  color: black;
  height: 50px;
  border: 1px solid #d5d5d5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 20px;
  background: none;
}
.contact_form textarea {
  width: 100%;
  border-radius: 0;
  line-height: 22px;
  font-size: 13px;
  padding: 14px 17px 14px;
  outline: none;
  border: 1px solid #d5d5d5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
  color: black;
  height: 191px;
  background: none;
}
form.contact_form {
  text-align: center;
}

.contact-content {
  width: 48%;
  display: inline-block;
}

.message #right {
  float: right;
  text-align: left;
}

.form_btn {
  padding: 13px 30px;
  border: 1px solid var(--primary-color-hover);
  margin-top: 2vh;
  font-size: 16px;
  color: var(--primary-color-dark);
  background-color: #fafafa;
  text-decoration: none;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
.form_btn:hover {
  color: var(--white-color);
  background-color: var(--primary-color-hover);
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .contact-content {
    width: 100%;
    display: inline-block;
  }
}
/*-- //Contact-Ends-Here --*/
/* HOMEPAGE END here */

/*-- inner pages styling --*/

.innerpage-head {
  height: 15rem;
}

section.innerpage-banner {
  height: 15rem;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  opacity: 0.85;
  background: url(../images/banner.jpeg) no-repeat;
  background-position: center;
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -ms-background-size: 100% 100%;
}
.innerpage-intro {
  padding: 0;
  margin-top: 2vw;
  text-align: center;
}
#innerpage-title {
  margin-top: 0;
}

.innerpage-intro h1 {
  color: var(--primary-color-dark);
}
.innerpage-intro p {
  margin-right: 3vw;
  margin-left: 3vw;
  padding-bottom: 10px;
}
/*-- /inner pages styling --*/

/* ABOUT PAGE START */

.half-wrapper {
  display: flex;
}
.half-item {
  width: 50%;
}
.half-text {
  padding: 2rem;
}
.half-item h2 {
  color: var(--primary-color-dark);
  /* font-weight: 800; */
}
.half-item .line {
  border: 2px solid var(--primary-color-dark);
  width: 5vw;
  margin-bottom: 2rem;
}

.divider h2 {
  color: white;
}
.divider p {
  color: White;
}
@media screen and (max-width: 768px) {
  .half-wrapper {
    flex-direction: column;
  }
  .half-item {
    width: 100%;
  }
  .half-text {
    margin: 1rem 0;
  }
  .half-item .line {
    margin-bottom: 1rem;
    width: 10vw;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .half-item .half-image {
    height: 100%;
    width: 95%;
  }
}

.number-wrapper {
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
.number-container {
  width: 10rem;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1em 0;
  position: relative;
  font-size: 16px;
}

.number-wrapper i {
  font-size: 4rem;
  /* font-weight: 100; */
}
.number-container i {
  color: var(--white-color);
  text-align: center;
}

.number-container p {
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .number-container {
    height: 10rem;
    width: 10rem;
  }
}
@media screen and (max-width: 768px) {
  .number-wrapper {
    flex-wrap: wrap;
    gap: 30px;
  }
  .number-container {
    width: calc(50% - 40px);
    height: 12rem;
  }
}
@media screen and (max-width: 480px) {
  .number-container {
    height: 12rem;
    font-size: 8px;
  }
}
@media screen and (max-width: 375px) {
  .number-container {
    height: 12rem;
    font-size: 6px;
  }
}

.imgslider-container {
  width: 50%;
  position: absolute;
  overflow: hidden;
}
.imgslider-wrapper {
  width: 100%;
  display: flex;
  animation: slide 16s infinite;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-100%);
  }
  55% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-200%);
  }
  80% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-300%);
  }
}
.half-map #map-image {
  position: relative;
}
.imgslider-container {
  width: 100%;
  position: absolute;
  top: 0;
}
@media screen and (min-width: 1300px) {
  .imgslider-wrapper {
    height: 100%;
  }

  .half-map {
    height: 30rem;
  }
}
@media screen and (min-width: 1300px) {
  .imgslider-container {
    height: 30rem;
    width: 40rem;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .imgslider-wrapper {
    height: 100%;
  }
  .half-map {
    height: 30rem;
  }
}
@media screen and (max-width: 1299px) and (min-width: 1024px) {
  .imgslider-container {
    width: auto;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
  .half-map {
    height: 30rem;
  }
  #map-image {
    height: 30rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .imgslider-container {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
}
@media screen and (max-width: 768px) {
  .imgslider-container {
    width: 100%;
    position: relative;
  }
}
/* ABOUT PAGE END HERE */
/* SERVICE PAGE START */
.service-aims {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.aim-item {
  display: flex;
  align-items: center;
  width: 33%;
  padding: 1rem;
}
.aim-item h4 {
  color: var(--primary-color-hover);
  /* font-weight: 400; */
}
.aim-left {
  flex: 0 0 auto;
  float: left;
  align-items: center;
  justify-content: center;
  color: var(--primary-color-hover);
}
.aim-left i {
  font-size: 2rem;
  width: 4rem;
  height: 4rem;
  border: 0.15rem solid var(--primary-color-hover);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aim-right {
  display: table-cell;
  padding-left: 0.5rem;
}
.aim-right p {
  line-height: 1.3em;
}
@media screen and (min-width: 1000px) {
  .service-aims {
    justify-content: space-around;
  }
  .aim-item {
    width: 30%;
  }
}
@media screen and (max-width: 999px) {
  .service-aims {
    justify-content: space-around;
  }
  .aim-item {
    width: 50%;
    margin: 0;
    padding-bottom: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .aim-item h4 {
    text-align: center;
  }
  .aim-left i {
    text-align: center;
  }
}
@media screen and (max-width: 550px) {
  .aim-item {
    width: 100%;
  }
  .aim-item p {
    text-align: center;
  }
}
.service-img {
  height: 45rem;
}
@media screen and (max-width: 768px) {
  .service-img {
    display: none;
  }
}
.half-item ul li {
  color: var(--text-color);
}
/* SERVICES PAGE END */
/* CONTACT PAGE START */
@media screen and (max-width: 768px) {
  .contact-map {
    display: none;
  }
}
.contact-innerTitle {
  padding-bottom: 0;
}
.contact-innerTitle h2 {
  color: var(--primary-color-dark);
  /* font-weight: 800; */
}
.contact-innerTitle .line {
  border: 2px solid var(--primary-color-dark);
  width: 5vw;
  margin-bottom: 2rem;
}

#contact-inner {
  /* padding-bottom: 8vw; */
  padding-top: 0;
}
#contact-inner .half-text {
  margin: 0;
}
.contact-text {
  margin-bottom: 2rem;
}

.contact-list {
  display: flex;
  justify-content: space-between;
}

.contact-text a {
  color: var(--text-color);
  text-align: center;
  align-items: center;
  display: flex;
}
.contact-text i {
  color: var(--text-color);
  margin-right: 0.5rem;
}
.contact-icons {
  display: flex;
}
.contact-icons i {
  border: 1px solid var(--primary-color-dark);
  color: var(--primary-color-dark);
  font-size: 2rem;
  margin: 0.3rem;
  padding: 1rem;
}
#contact-full {
  width: 100%;
}

#innerpage-form .form_btn {
  width: 100%;
}
#innerpage-form h4,
.contact-text h4 {
  text-align: left;
  /* font-weight: 400; */
  color: var(--primary-color-dark);
  margin-bottom: 1rem;
}
#innerpage-form textarea {
  height: 110px;
}
@media screen and (max-width: 768px) {
  .contact-text-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .contact-text {
    display: inline-block;
  }
  #contact-icons-wrapper {
    width: 100%;
    display: inline-block;
  }
  .contact-icons {
    justify-content: center;
  }
  #innerpage-form {
    margin-top: 0;
    margin-right: 3vw;
    margin-left: 3vw;
  }
  .contact-text {
    margin: 1rem 0;
  }
}

@media screen and (max-width: 600px) {
  .contact-text-wrapper {
    flex-direction: column;
  }
  .contact-text {
    margin: 1rem 0;
  }
  #innerpage-form {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
  }
}
@media screen and (max-width: 320px) {
  .contact-icons i {
    font-size: 1.2rem;
  }
}

/* 404 page */
#notfound {
  position: relative;
  height: 30rem;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound {
  width: 100%;

  padding: 0px 15px;
}

.notfound .notfound-404 {
  position: relative;
  margin-bottom: 25px;
}

.notfound .notfound-404 h1 {
  margin: 0px;
  text-transform: uppercase;
  color: var(--primary-color-hover);
}

.notfound h2 {
  margin: 0;
}

.notfound p {
  margin-bottom: 0px;
  text-transform: uppercase;
}

.notfound a {
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  border: none;
  background: var(--primary-color-hover);
  padding: 10px 40px;
  font-size: 14px;
  /* font-weight: 700; */
  border-radius: 1px;
  margin-top: 15px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  opacity: 0.8;
}
